/* Global */
:root {
    --background: #F2F2F2;
    --default-black-900: #030712;
    --default-white-50: #f9fafb;
    --hover-color-1: #374151;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
}

.w-100 {
    width: 100%;
}

/* Flex Utilities */
.flex {
    display: flex;
    /* gap: var(--gap, 5rem); */
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap, 5rem); */
}

.flex-column-special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: var(--gap, 5rem); */
}

@media (max-width: 960px) {
    .flex-column-special {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: var(--gap, 5rem); */
    }
}

.between-center {
    justify-content: space-between;
    align-items: center;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.items-center {
    align-items: center;
}

.content-between {
    justify-content: space-between;
}


/* Visibly Hidden */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }