/* Root Element */
:root {
    --background: #F2F2F2;
    --default-black-900: #030712;
    --default-white-50: #f9fafb;
    --hover-color-1: #374151;
    scroll-behavior: smooth;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
}

/* Body Element */
body {
    overflow-x: hidden;

    min-height: 100vh;

    background: var(--background);
}

/* Utilities */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/* Flex Utilities */
.flex {
    display: flex;
    gap: var(--gap, 0);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 0);
}

.between-center {
    justify-content: space-between;
    align-items: center;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.items-center {
    align-items: center;
}

.content-between {
    justify-content: space-between;
}

/* Dropdown Menus */
.link {
    opacity: 1;

    transition: opacity 350ms ease-out;
}

.dropdown.active > .link,
.link:hover {
    opacity: 0.75;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + .5rem);

    padding: 1rem;

    list-style: none;

    text-align: left;

    border-radius: 1rem;

    --gap: 1rem;

    opacity: 0;

    pointer-events: none;

    transform: translateY(-10px);

    transition: opacity 350ms ease-out, transform 350ms ease-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* Sticky Navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 200;

    height: 12vh;

    background-color: var(--default-black-900);

    transition: background-color 0.5s ease-in-out;
}

nav > * {
    flex: 1;
}

.mobile-logo {
    display: none;
}

/* Sticky Nav: Logo */
.logo-div {
    max-width: 20%;

    margin-left: 10%;
}

.logo-div > * {
    flex: 1;
}

/* Sticky Nav: Nav-List */
.nav-list {
    list-style: none;

    max-width: 33.5vw;

    margin-right: 10%;
}

.nav-list li a {
    color: var(--default-white-50);
    opacity: 1;

    transition: opacity 350ms ease-out;
}

.nav-list li a:hover {
    text-decoration: underline;

    opacity: 0.75;
}

/* Mobile Hamburger */
.mobile-nav-toggle {
    display: none;
}

/* Language Dropdown */
.lang-button {
    background: url('../media/images/earth-europe-solid.svg');
    background-repeat: no-repeat;
    background-size: contain;

    width: 1.5rem;
    aspect-ratio: 1;
}

.lang-menu {
    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);

    left: -100%;
}

/* Hero-Section */
header {
    position: relative;

    padding-bottom: 1rem;

    height: 88vh;

    background: var(--default-black-900);
}

.hero-buttons {
    --gap: 2rem;
}

.hero-video {
    aspect-ratio: 1920 / 720;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-heading {
    display: none;

    z-index: 100;

    padding-inline: 10%;

    text-align: center;

    color: var(--default-white-50);
}

/* Main */
.about-section {
    padding-top: 6rem;
}

/* Introduction */
.introduction {
    text-align: center;

    width: 60%;
}

.intro-p {
    margin: 3rem 0 1.5rem 0;
    width: 85%;
}

/* Artists */
.artists {
    width: 100%;
    height: 100vh;

    padding-top: 3rem;

    background-image: url('../media/images/Artists_Overlay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* FIX!!! */
.card-discover {
    padding: 2rem 4rem;
}

.card-background {
    border-radius: 0.625rem;
    background: green;
}

.discover-artists {
    margin-top: 4rem;
    margin-bottom: 2rem;

    text-align: center;

    width: 40%;

    border-radius: 0.625rem;
    background: white;
}

/* Contact */
.contact-section {
    width: 80%;

    padding: 6rem 0;

    --gap: 10%;
}

.contact-form, .contact-info {
    width: 40%;
    height: 35rem;

    --gap: 1rem;
}

.contact-form > *, .contact-info > * {
    width: 100%;
}

.contact-form > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.input-field {
    height: 2.5rem;

    padding: 0.625rem;

    border-radius: 0.625rem;
}

/* Footer */
footer {
    background: var(--default-black-900);

    padding-block: 2%;
}

.footer-logo > * {
    flex: 1;
}

.footer-logo img {
    max-width: 65%;
}

.footer-info {
    padding-inline: 10%;
    margin-top: 4rem;

    color: var(--default-white-50);
}