/* Body Element */
body {
    overflow-x: hidden;
    min-height: 100vh;

    background: var(--background);
}

/* Sticky Navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 200;

    height: 12vh;

    background-color: var(--default-black-900);

    transition: background-color 0.5s ease-in-out;
}

nav > * {
    flex: 1;
}

.mobile-logo {
    display: none;
}


@media (min-width: 961px) {
    .scrolled {
        background: hsl(0 0% 0% / 0.72);
        backdrop-filter: blur(1rem); 
    }
}

/* Sticky Nav: Logo */
.logo-div {
    max-width: 20%;

    margin-left: 10%;
}

.logo-div > * {
    flex: 1;
}

/* Sticky Nav: Nav-List */
.nav-list {
    list-style: none;

    max-width: 33.5vw;

    gap: 0;

    margin-right: 10%;
}

.nav-list li a {
    color: var(--default-white-50);
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.mobile-nav-toggle {
    display: none;
}

.lang-icon-button {
    position: relative;
}

.lang-navigation {
    position: absolute;
    top: 2.25rem;

    padding: 1rem;

    background: hsl(0 0% 0% / 0.6);
    backdrop-filter: blur(1rem);

    list-style: none;

    text-align: left;

    border-radius: 1rem;

    gap: 1rem;

    transform: translateX(250%);

    transition: transform 350ms ease-out;
}

.lang-navigation[data-visible='true'] {
    transform: translateX(-30%);
}

@media (max-width: 960px) {
    .lang-navigation {
        flex-direction: row;
        font-size: 1rem;

        gap: 1.25rem;
        transform: translateX(0);
    }

    .lang-navigation[data-mobile='false'] {
        transform: translateX(250%);
    }

    .nav-list {
        margin: 0;

        max-width: none;

        padding: 16vh 0 0 2rem;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30vw;

        background: hsl(0 0% 0% / 0.83);
  
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2.5rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    @supports (backdrop-filter: blur(1rem)) {
        .nav-list {
            background: hsl(0 0% 0% / 0.6);
            backdrop-filter: blur(1rem); 
        }
    }

    .nav-list[data-visible='true'] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;

        position: absolute;
        z-index: 9999;
        top: 4vh;
        right: 10%;


        background-image: url('../media/images/bars-solid.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        
        width: 4vh;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../media/images/xmark-solid.svg');
    }
}

@media (max-width: 460px) {
    /* .mobile-nav-toggle {
        top: 4vh;
        width: 4vh;
    } */  

}

@media (max-width: 690px) {
    /* .mobile-nav-toggle {
        top: 4vh;
        width: 4vh;
    } */

    .mobile-logo {
        display: block;
    }

    .desktop-logo {
        display: none;
    }


    .logo-div {
        max-width: 5vh;
        z-index: 9998;

        transform: translateX(0);
        transition: transform 350ms ease-out;
    }

    .logo-div[data-expanded="true"] {
        margin: 0;
        transform: translateX(calc(30vw + 2rem));
    }
}

/* Hero-Section */
header {
    position: relative;

    padding-bottom: 1rem;

    height: 88vh;

    background: var(--default-black-900);
}

.hero-buttons {
    /* height: min-content; */

    /* margin-bottom: 1rem; */

    gap: 2rem;
}

.hero-video {
    aspect-ratio: 1920 / 720;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-heading {
    display: none;

    z-index: 100;

    padding-inline: 10%;

    text-align: center;

    color: var(--default-white-50);
}

@media (max-width: 960px) {
    .hero-heading {
        display: block;
    }

    .hero-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* This centers the video */
        
        height: 100%; /* This makes the video stretch to the full height of its parent */
        width: auto; /* This ensures the video maintains its aspect ratio */
        
        filter: blur(2.5rem); /* This applies the blur effect */
        object-fit: cover; /* This ensures the video covers the full height and width of its container */
    }

    .overlay {
        display: none;
        /* top: 30vh; */
    }

    .hero-buttons {
        margin-top: 2rem;
    }
}

@media (max-width: 460px) {
    .hero-buttons {
        flex-direction: column;
        gap: 1rem;

        margin-top: 4rem;
    }
}

/* Main */
.about-section {
    padding-top: 4rem;
}

/* Introduction */
.introduction {
    text-align: center;

    width: 60%;
}

.intro-p {
    margin: 3rem 0 1.5rem 0;
    width: 85%;
}

@media (max-width: 960px) {
    .introduction {
        width: 80%;
    }

    .intro-p {
        width: 100%;
    }
}

/* Artists */
.artists {
    width: 100%;
    height: 100vh;

    background-image: url('../media/images/Artists_Overlay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card-discover {
    padding: 2rem 4rem;
}

.card-background {
    border-radius: 0.625rem;
    background: green;
}

.discover-artists {
    margin-top: 4rem;
    margin-bottom: 2rem;

    text-align: center;

    width: 40%;

    border-radius: 0.625rem;
    background: white;
}



@media (max-width: 960px) {
    .artists {
        height: 35rem;
    }

    .discover-artists {
        width: 80%;

        margin-top: 2rem;
    }

    .card-discover {
        padding: 2rem 0;
    }
}

/* Contact */
.contact-section {
    width: 80%;

    padding: 4rem 0;

    gap: 10%;
}

.contact-form, .contact-info {
    width: 40%;
    height: 35rem;

    gap: 1rem;
}

.contact-form > *, .contact-info > * {
    width: 100%;
}

.contact-form > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 0.5rem;
}

.input-field {
    height: 2.5rem;
    padding: 0.625rem;

    border-radius: 0.625rem;
}

@media (max-width: 960px) {
    .contact-section {
        width: 80%;
        flex-direction: column;


        gap: 4rem;
    }

    .contact-form, .contact-info {
        width: 100%;
        height: auto;


        /* text-align: center; */

        gap: 2rem;
    }

    .contact-info {
        text-align: center;
    }


}

@media (max-width: 460px) {
    .download-button {
        width: 100%;
    }

    .artists > * {
        width: 80%;
    }

    .call-button {
        width: 100%;
    }
}

/* Footer */
footer {
    background: var(--default-black-900);

    padding-block: 2%;
}

.footer-logo > * {
    flex: 1;
}

.footer-logo img {
    max-width: 65%;
}

.footer-info {
    padding-inline: 10%;
    margin-top: 4rem;

    color: var(--default-white-50);
}

@media (max-width: 960px) {
    footer {
        padding-block: 5%;
    }

    .footer-logo-svg {
        display: none;
    }

    .footer-logo img {
        max-width: 100%;
    }

    .footer-info {
        margin-top: 2rem;
    }
}

.fade-away {
    transform: translateX(100%);
}