/* Utilities */
.italic {
    font-style: italic;
}

/* Headings */
h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
}

h3 {
    font-weight: 500;
}

/* Paragraphs */
p {
    font-weight: 100;
    line-height: 2.25rem;
}

textarea {
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

/* Links */
a {
    font-weight: 300;
    text-decoration: none;
}

/* Icons */
.little-icon {
    margin-right: 1rem;
}

.little-icon-2 {
    margin-left: 1rem;
}

/* Footer */
.footer-text {
    font-weight: 100;
    font-size: 0.75rem;
}